<!doctype html>
<html lang="en" data-ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
<body>
   <div class="container" ng-controller="lunchController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchList">
         </div>
         <p>NOTE: An empty item is not considered towards the count, i.e. , ,</p>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message {{messageClass}}">
           {{message}}
         </div>
   </div>
<script src="./plugins/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
